version: "3.8"

services:
  uptime-kuma:
    image: louislam/uptime-kuma:{{ uptime_kuma_version }}
    container_name: {{ uptime_kuma_container_name }}
    volumes:
      - {{ uptime_kuma_data_dir }}/data:/app/data
    ports:
      - "{{ uptime_kuma_port }}:3001"
    restart: always
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - uptime-kuma-network

networks:
  uptime-kuma-network:
    name: uptime-kuma-network
    driver: bridge 