[Unit]
Description=Uptime Kuma Container
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/etc/docker/compose/{{ uptime_kuma_container_name }}
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target 